In [1]:
import pandas as pd

In [2]:
import os 
work_path = os.getcwd() 
raw_path = work_path + "\\raw"
processed_path = work_path + "\\processed"

In [5]:
df_train = pd.read_csv(raw_path+"\\philippine\\philippine_train.data", header=None, sep=" ")
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,299,300,301,302,303,304,305,306,307,308
0,1.43676,0.000353,1972.84,0.007600,-0.015531,0.780376,103461,0.024912,-0.2213,47,...,0.865036,0.359862,0.003133,2.76052,750.11,-0.008810,0.009179,42.6805,252,NaN
1,2.70690,0.000678,3955.21,-0.009876,-0.003330,0.733401,150978,0.028482,0.2259,55,...,0.703948,0.610000,-0.006252,4.18539,1200.69,0.049434,-0.005465,41.6983,251,NaN
2,0.46472,0.000715,1453.81,0.002587,-0.005504,0.771300,88342,0.031772,0.0624,0,...,0.806948,0.112245,-0.010088,1.31197,3876.00,0.006898,0.022098,55.1792,113,NaN
3,3.06980,0.000357,2036.55,0.005065,0.009438,0.873578,123739,0.009533,-0.2277,38,...,0.874592,0.348765,0.007156,2.19352,1013.80,0.010855,-0.002765,39.9233,242,NaN
4,1.65000,0.000545,2325.00,0.006807,-0.003393,0.803415,103812,0.014284,0.0149,14,...,0.742672,0.284024,-0.003029,2.93776,1336.37,0.015256,-0.010514,39.5254,213,NaN

In [6]:
df_train.shape

(5832, 309)

In [9]:
df_tag = pd.read_csv(
    raw_path+"\\philippine\\philippine_train.solution", header=None, sep=" ", names=['TAG'])
df_tag

      TAG
0       0
1       1
2       1
3       0
4       1
...   ...
5827    0
5828    1
5829    0
5830    1
5831    0

[5832 rows x 1 columns]

In [10]:
df_train[308].value_counts()

Series([], Name: 308, dtype: int64)

In [11]:
df_train['TAG'] = df_tag['TAG']
df_train.drop(208, axis=1, inplace=True)
df_train.shape

(5832, 309)

In [12]:
df_train['TAG'].value_counts()

1    2916
0    2916
Name: TAG, dtype: int64

In [13]:
df_train.to_csv(processed_path+"\\phillipine.csv", header=True, index=None)