In [1]:
import pandas as pd

In [2]:
import os 
work_path = os.getcwd() 
raw_path = work_path + "\\raw"
processed_path = work_path + "\\processed"

In [11]:
df_train = pd.read_csv(raw_path+"\\volkert\\volkert_train.data", header=None, sep=' ')
df_train.drop([180], axis=1, inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,170,171,172,173,174,175,176,177,178,179
0,0.43866,0,0,0,0,0,0,0,0,0.026331,...,0.013889,0.012153,0.012442,0.013021,0.014757,0.012442,0.013600,0.010417,0.009549,0.013600
1,0.00000,0,0,0,0,0,0,0,0,0.004630,...,0.013889,0.014178,0.013310,0.014468,0.013021,0.015625,0.016493,0.015046,0.016782,0.010995
2,0.00000,0,0,0,0,0,0,0,0,0.000000,...,0.009259,0.012442,0.011574,0.011574,0.010706,0.007812,0.012153,0.009549,0.007812,0.017361
3,0.00000,0,0,0,0,0,0,0,0,0.000000,...,0.005498,0.006655,0.007812,0.006366,0.007234,0.007523,0.006076,0.006944,0.006076,0.006655
4,0.00000,0,0,0,0,0,0,0,0,0.000000,...,0.006655,0.007234,0.008970,0.004919,0.009549,0.008391,0.006944,0.005498,0.002025,0.019965

In [13]:
df_tag = pd.read_csv(
    raw_path+"\\volkert\\volkert_train.solution", header=None, sep=' ', names=['class-1','class-2','class-3','class-4','class-5','class-6','class-7','class-8','class-9','class-10', 'space'])
df_tag.drop(['space'], axis=1, inplace=True)
df_tag

,class-1,class-2,class-3,class-4,class-5,class-6,class-7,class-8,class-9,class-10
0,1,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1
3,0,0,0,1,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
58305,1,0,0,0,0,0,0,0,0,0
58306,0,0,0,0,0,0,0,1,0,0
58307,1,0,0,0,0,0,0,0,0,0
58308,0,0,0,0,0,1,0,0,0,0
58309,0,0,0,0,0,0,0,1,0,0

In [14]:
df_train.shape, df_tag.shape

((58310, 180), (58310, 10))

In [15]:
df_train = pd.concat([df_train, df_tag], axis=1)
df_train

,0,1,2,3,4,5,6,7,8,9,...,class-1,class-2,class-3,class-4,class-5,class-6,class-7,class-8,class-9,class-10
0,0.438660,0,0,0,0,0,0,0,0,0.026331,...,1,0,0,0,0,0,0,0,0,0
1,0.000000,0,0,0,0,0,0,0,0,0.004630,...,0,0,1,0,0,0,0,0,0,0
2,0.000000,0,0,0,0,0,0,0,0,0.000000,...,0,0,0,0,0,0,0,0,0,1
3,0.000000,0,0,0,0,0,0,0,0,0.000000,...,0,0,0,1,0,0,0,0,0,0
4,0.000000,0,0,0,0,0,0,0,0,0.000000,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58305,0.000868,0,0,0,0,0,0,0,0,0.002025,...,1,0,0,0,0,0,0,0,0,0
58306,0.000000,0,0,0,0,0,0,0,0,0.000000,...,0,0,0,0,0,0,0,1,0,0
58307,0.414640,0,0,0,0,0,0,0,0,0.227140,...,1,0,0,0,0,0,0,0,0,0
58308,1.000000,0,0,0,0,0,0,0,0,0.000000,...,0,0,0,0,0,1,0,0,0,0
58309,0.352140,0,0,0,0,0,0,0,0,0.093171,...,0,0,0,0,0,0,0,1,0,0

In [25]:
df_train.to_csv(processed_path+"\\volkert.csv", header=True, index=None)