In [1]:
import pandas as pd

In [2]:
import os 
work_path = os.getcwd() 
raw_path = work_path + "\\raw"
processed_path = work_path + "\\processed"

In [4]:
df = pd.read_csv(raw_path+"\\htru2\\HTRU_2.csv", header=None)
df.head()

,0,1,2,3,4,5,6,7,8
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

In [5]:
df_sig = ['Mean_profile', 'Standard_Deviation_profile','Excess_kurtosis_profile','Skewness_profile',
          'Mean_DM-SNR-curve', 'Standard_Deviation_DM-SNR-curve', 'Excess_kurtosis_DM-SNR-curve', 'Skewness_DM-SNR-curve',
          'class'
]

In [6]:
df.columns = df_sig
df.columns

Index(['Mean_profile', 'Standard_Deviation_profile', 'Excess_kurtosis_profile',
       'Skewness_profile', 'Mean_DM-SNR-curve',
       'Standard_Deviation_DM-SNR-curve', 'Excess_kurtosis_DM-SNR-curve',
       'Skewness_DM-SNR-curve', 'class'],
      dtype='object')

In [7]:
df.head()

,Mean_profile,Standard_Deviation_profile,Excess_kurtosis_profile,Skewness_profile,Mean_DM-SNR-curve,Standard_Deviation_DM-SNR-curve,Excess_kurtosis_DM-SNR-curve,Skewness_DM-SNR-curve,class
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

In [8]:
df.to_csv(processed_path+"\\htru2.csv", header=True, index=None)