In [1]:
import pandas as pd

In [2]:
import os 
work_path = os.getcwd() 
raw_path = work_path + "\\raw"
processed_path = work_path + "\\processed"

In [26]:
df_train = pd.read_csv(raw_path+"\\adult\\adult_train.data", header=None, sep=' ')
df_train.drop([24], axis=1, inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,11.0,45,34,1.0,55,127921.0,1.0,1.0,0,4,...,9,1,0,1,3,241885.0,0,1.0,44,4
1,4.0,50,41,1.0,60,231619.0,1.0,2.0,0,2,...,10,5,0,1,3,104334.0,0,1.0,59,9
2,2.0,40,36,1.0,26,119941.0,1.0,1.0,0,4,...,9,7,0,1,2,77953.0,0,1.0,44,15
3,1.0,40,26,1.0,38,215766.0,1.0,1.0,0,2,...,10,2,3103,1,3,167350.0,0,1.0,31,4
4,1.0,40,28,1.0,38,170525.0,1.0,1.0,0,7,...,11,2,0,2,2,109857.0,0,1.0,18,1

In [27]:
df_train.shape

(34190, 24)

In [28]:
df_tag = pd.read_csv(raw_path+"\\adult\\adult_train.solution", names=['Class-1', 'Class-2','Class-3','other'],
                     header=None, sep=' ')
df_tag.drop(['other'], axis=1, inplace=True)
df_tag

       Class-1  Class-2  Class-3
0            1        1        1
1            1        1        0
2            0        1        1
3            1        1        0
4            1        0        1
...        ...      ...      ...
34185        1        1        0
34186        1        1        1
34187        1        1        1
34188        0        0        1
34189        1        1        1

[34190 rows x 3 columns]

In [29]:
df_train = pd.concat([df_train,df_tag], axis=1)
df_train.shape

(34190, 27)

In [30]:
df_train.to_csv(processed_path+"\\adult.csv", header=True, index=None)

In [31]:
df_train['Class-1'].value_counts()

1    29207
0     4983
Name: Class-1, dtype: int64

In [32]:
df_train['Class-2'].value_counts()

1    22847
0    11343
Name: Class-2, dtype: int64

In [33]:
df_train['Class-3'].value_counts()

1    26013
0     8177
Name: Class-3, dtype: int64