In [1]:
import pandas as pd

In [2]:
import os 
work_path = os.getcwd() 
raw_path = work_path + "\\raw"
processed_path = work_path + "\\processed"

In [4]:
df = pd.read_csv(raw_path+"\\spambase\\spambase.data", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [11]:
df_sig = ["\
    word_freq_make:    \
    word_freq_address:     \
    word_freq_all:         \
    word_freq_3d:          \
    word_freq_our:         \
    word_freq_over:        \
    word_freq_remove:      \
    word_freq_internet:    \
    word_freq_order:       \
    word_freq_mail:        \
    word_freq_receive:     \
    word_freq_will:        \
    word_freq_people:      \
    word_freq_report:      \
    word_freq_addresses:   \
    word_freq_free:        \
    word_freq_business:    \
    word_freq_email:       \
    word_freq_you:         \
    word_freq_credit:      \
    word_freq_your:        \
    word_freq_font:        \
    word_freq_000:         \
    word_freq_money:       \
    word_freq_hp:          \
    word_freq_hpl:         \
    word_freq_george:      \
    word_freq_650:         \
    word_freq_lab:         \
    word_freq_labs:        \
    word_freq_telnet:      \
    word_freq_857:         \
    word_freq_data:        \
    word_freq_415:         \
    word_freq_85:          \
    word_freq_technology:  \
    word_freq_1999:        \
    word_freq_parts:       \
    word_freq_pm:          \
    word_freq_direct:      \
    word_freq_cs:          \
    word_freq_meeting:     \
    word_freq_original:    \
    word_freq_project:     \
    word_freq_re:          \
    word_freq_edu:         \
    word_freq_table:       \
    word_freq_conference:  \
    char_freq_;:           \
    char_freq_(:           \
    char_freq_[:           \
    char_freq_!:           \
    char_freq_$:           \
    char_freq_#:           \
    capital_run_length_average:\
    capital_run_length_longest:\
    capital_run_length_total:  \
        "
]
df_sig = [s.split(':')[0] for s in df_sig[0].split(' ') if s is not ''] + ['class']

In [12]:
df.shape, len(df_sig)

((4601, 58), 58)

In [13]:
df.columns = df_sig
df.columns

Index(['word_freq_make', 'word_freq_address', 'word_freq_all', 'word_freq_3d',
       'word_freq_our', 'word_freq_over', 'word_freq_remove',
       'word_freq_internet', 'word_freq_order', 'word_freq_mail',
       'word_freq_receive', 'word_freq_will', 'word_freq_people',
       'word_freq_report', 'word_freq_addresses', 'word_freq_free',
       'word_freq_business', 'word_freq_email', 'word_freq_you',
       'word_freq_credit', 'word_freq_your', 'word_freq_font', 'word_freq_000',
       'word_freq_money', 'word_freq_hp', 'word_freq_hpl', 'word_freq_george',
       'word_freq_650', 'word_freq_lab', 'word_freq_labs', 'word_freq_telnet',
       'word_freq_857', 'word_freq_data', 'word_freq_415', 'word_freq_85',
       'word_freq_technology', 'word_freq_1999', 'word_freq_parts',
       'word_freq_pm', 'word_freq_direct', 'word_freq_cs', 'word_freq_meeting',
       'word_freq_original', 'word_freq_project', 'word_freq_re',
       'word_freq_edu', 'word_freq_table', 'word_freq_conference',
       'char_freq_;', 'char_freq_(', 'char_freq_[', 'char_freq_!',
       'char_freq_$', 'char_freq_#', 'capital_run_length_average',
       'capital_run_length_longest', 'capital_run_length_total', 'class'],
      dtype='object')

In [14]:
df.head()

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,class
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [15]:
df.shape

(4601, 58)

In [16]:
df.to_csv(processed_path+"\\spambase.csv", header=True, index=None)